#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app {
  text-align: center;
}

.logo-container {
  margin-bottom: 1rem;
}

.logo {
  max-width: 400px;
  width: 100%;
  height: auto;
}

h1 {
  margin-bottom: 2rem;
  color: #bbdf5d;
}
